In [3]:
#question 1
# Write a code to create a string with your name and print it.
my_name = ("om thorat")
print (my_name)

om thorat

In [8]:
#question 2
# Write a code to find the length of the string "Hello World"

name = ("om thorat")
lenght = len(name)
print (lenght)

9

In [9]:
# question 3
# Write a code to slice the first 3 characters from the string "Python Programming.

word = ("python programing")

first_three = word [0:3]

print(first_three)

pyt

In [14]:
# question 4
name = ("om thorat")

upper_name = name.upper()

print(upper_name)

OM THORAT

In [20]:
#question 5
# Write a code to replace the word "apple" with "orange" in the string "I like apple.

sentence = ("i like apple")

new_sentence = sentence.replace ("apple" , "oranage")

print (new_sentence)

i like oranage

In [21]:
# question 6
# Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1,2,3,4,5]

print(numbers)

[1, 2, 3, 4, 5]

In [23]:
# question 7
# Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1,2,3,4,7]

numbers.append(10)

print(numbers)

[1, 2, 3, 4, 7, 10]

In [24]:
 #question 8
 # Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1,2,3,4,5,6]

numbers.remove(3)

print(numbers)

[1, 2, 4, 5, 6]

In [25]:
# question 9
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']

second_element = my_list[1]

print(second_element)

b

In [26]:
# question 10
# Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]

numbers.reverse()

print(numbers)

[50, 40, 30, 20, 10]

In [27]:
# question 11
# Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)


print(my_tuple)

(100, 200, 300)

In [28]:
# question 12
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')

result = colors[-2]

print(result)

blue

In [29]:
# question 13
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15).


numbers = (10, 20, 5, 15)

minimum_value = min(numbers)

print(minimum_value)

5

In [30]:
# question 14
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')

cat_index = animals.index("cat")

print(cat_index)

1

In [31]:
# question 15
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.


fruits = ("apple", "banana", "cherry")

is_kiwi_present = "kiwi" in fruits

print(is_kiwi_present)

False

In [32]:
# question 16
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}

print(my_set)

{'b', 'a', 'c'}

In [33]:
# question 17
#  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}

my_set.clear()

print(my_set)

set()

In [34]:
# question 18
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}

my_set.remove(4)

print(my_set)

{1, 2, 3}

In [35]:
# question 19
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

# Define the two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

result = set1.union(set2)

print(result)

{1, 2, 3, 4, 5}

In [36]:
# question 20
#  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}


result = set1.intersection(set2)

print(result)

{2, 3}

In [37]:
# question 21
#  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [38]:
# question 22
#  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}

person["country"] = "USA"

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [39]:
# question 23
#  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}

name_value = person["name"]

print(name_value)

Alice

In [40]:
# question 24
#  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

removed_age = person.pop("age")

print(person)

{'name': 'Bob', 'city': 'New York'}

In [41]:
# question 25
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}

if "city" in person:
    print("Yes, 'city' exists in the dictionary.")
else:
    print("No, 'city' does not exist.")

Yes, 'city' exists in the dictionary.

In [42]:
# question 26
# Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = ["apple", "banana", "cherry"]

my_tuple = (10, 20, 30)

my_dict = {"brand": "Tesla", "model": "Model 3", "year": 2024}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: ['apple', 'banana', 'cherry']
Tuple: (10, 20, 30)
Dictionary: {'brand': 'Tesla', 'model': 'Model 3', 'year': 2024}

In [43]:
# question 27
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Sorted Random Numbers:", random_numbers)

Sorted Random Numbers: [26, 33, 38, 70, 86]

In [44]:
# question 28
#  Write a code to create a list with strings and print the element at the third index.

fruits = ["apple", "banana", "cherry", "date", "elderberry"]

element = fruits[3]

print(element)

date

In [45]:
# question 29
#  Write a code to combine two dictionaries into one and print the result.

dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "New York", "job": "Engineer"}


combined_dict = dict1 | dict2

print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer'}

In [ ]:
# question 30
# Write a code to convert a list of strings into a set.

fruit_list = ["apple", "banana", "apple", "cherry", "banana"]

fruit_set = set(fruit_list)

print(fruit_set)